<a href="https://colab.research.google.com/github/BenjaminDKLuong/Colab_Notes/blob/master/Predict_Airline_Passengers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predict_Airline_Passengers

In [0]:
import pandas as pd

url = 'https://raw.githubusercontent.com/PacktPublishing/Real-World-Python-Deep-Learning-Projects/master/Section%202%20Code/source/data/airline_data.csv'
df = pd.read_csv(url,header=2)

In [13]:
df.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,"Air transport, passengers carried",IS.AIR.PSGR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"Air transport, passengers carried",IS.AIR.PSGR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1999127.0,2.279341e+06,1.737962e+06,2044188.0,2209428.0,1929907.0,1917924.0,1858558.0,NaN

In [0]:
def get_raw_xy(data, column='Country Name', value='World'):
    v=data.loc[data[column] == value].iloc[:,17:62]
    x=[ v for v in v.values.astype('float32')[0] ]
    return x, [ int(vv) for vv in list(v) ]

In [0]:
values, years = get_raw_xy(df)
rv=list(zip(years, values))

In [0]:
def get_vpo(values):
    yy=[np.nan]*len(values)
    for i, v in enumerate(values):
        if i+1>len(values)-1:
            break
        yy[i+1]=values[i]
    return yy

In [0]:
import numpy as np
past_values=get_vpo(values)

In [0]:
dpo=list(zip([1972]+years, past_values, years, values))
dpo=list(zip(past_values[1:], values[1:]))
year_df, past_value_df, value_df = years[1:], past_values[1:], values[1:]

In [0]:
def train_test_split(rawx, xpo):
    train_size=int(len(rawx)*0.80)
    test_size=int(len(rawx)*0.20)
    #print(train_size, test_size, len(rawx))
    train_x, train_y = np.array(rawx[:train_size]), np.array(xpo[:train_size])
    test_x, test_y = np.array(rawx[train_size:]), np.array(xpo[train_size:])
    return train_x, train_y, test_x, test_y

def get_params(script='train.py'):
    xa=''
    if script == 'train.py':
        xa='[plot|ploth]'
    try:
        name, epochs, batches=sys.argv[1:4]
    except ValueError:
        print('Usage: %s model_name epochs batch_size %s' % (script, xa))
        exit(1)
    try:
        plot=sys.argv[4]
    except IndexError:
        plot=False

    return name, int(epochs), int(batches), plot

In [20]:
from keras.models import Sequential, load_model
from keras.layers import Dense

import math
import os
import sys
import pandas
import pickle

Using TensorFlow backend.